.admin-layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #343a40; /* Color oscuro para el sidebar */
  color: white;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar .nav-link {
  color: #adb5bd;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar .nav-link:hover {
  background-color: #495057;
  color: white;
}

.sidebar .nav-link.active {
  background-color: #0d6efd; /* Color azul para el enlace activo */
  color: white;
}

.admin-content {
  margin-left: 250px; /* Mismo ancho que el sidebar */
  padding: 30px;
  width: 100%;
  background-color: #f8f9fa; /* Color de fondo claro para el contenido */
}