@import './style.css';
@import './formulario.css';
/* Reset mínimo */
* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body { margin: 0; }

.navbar {
  position: static; 
  top: 0;
  width: 100%;
  z-index: 1000;
}

